@{
  Layout = "_Layout";
}
<h1>Fringe Society: A Subsidiary of Eau Claire Studios</h1>
<h2>Welcome to the Stylist List!</h2>
<p>@Html.ActionLink("See all clients", "Index", "Clients")</p> 
<p>@Html.ActionLink("See all stylists", "Index", "Stylists")</p>